body{
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
}

#main{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Headers */
.headers{
    padding-top: 10px; 
    text-align: center;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}


/* checkboxes */
.checkboxes {
    display: flex;
    flex-direction: column;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* hide default checkboxes */
.checkboxes input[type="checkbox"]::before {
    width: 16px;
    height: 16px;
    border-radius: 5px;
    display: none;
}


/* Picture */
#picture_container{ 
    width: 300px;
    flex-direction: column;
    aspect-ratio: 1/1;
    border-radius: 20px;
    background-color: #f2f0ef;
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#failed_div{
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#firstPictureButton{
    position: relative;
    bottom: 16px; /*half of the size*/
}


.NewButton{
    background-color: #969E74; 
    border: 1px;
    border-radius: 20px;
    width: 110px;
    height: 32px;
    font-size: 16px;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); 
    cursor: pointer; 
    transition: box-shadow 0.3s ease; 
}

.NewButton:hover{
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* change box shadow on hover */
}

.NewButton:active{
    background-color: #868d67; 
}

.regeneraring_button{
    background-color: #969E74; 
    border: 0px;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    /* position: relative;
    bottom: 22px; half of the size */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* add box shadow */
    cursor: pointer; /* change cursor to pointer on hover */
    transition: box-shadow 0.3s ease; /* add transition effect to box shadow */
}

.regeneraring_button:hover{
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* change box shadow on hover */
}

.regeneraring_button:active{
    background-color: #868d67; 
}

#newPictureButton{
    position: relative;
    bottom: 22px; /*half of the size*/
}

.regenerate-svg{
    height: 30px;
    width: 30px;
    color: var(--tg-theme-text-color);
    position: relative;
    right: 0px;
    bottom: -1px;
}

.regeneraring_button:disabled {
    background-color: #a0a0a0;
    /* opacity: 0.9; */
    cursor: not-allowed;
}

.regeneraring_button:disabled:hover {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); 
}

.regeneraring_button:disabled:active {
    background-color: #a0a0a0;
    /* opacity: 0.9; */
    cursor: not-allowed;
}


/* text */
#textContainer{
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    align-items: center;
    width: 300px;
    height: 120px;
    /* border: 1.5px solid #c9c9c9; */
}


/* Send my wishes! button */
#send_my_wishes_button_div{
    height: 140px;
    align-items: center;
    position: relative;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#send_my_wishes_button{
    background-color: #969E74; 
    /* color: #ffffff; */ /* if would like to make the text white*/
    /* font-weight: lighter; */
    border: 1px;
    border-radius: 20px;
    width: 180px;
    height: 32px;
    position: absolute;
    bottom: 30px;
    right: -90px; /*half of width*/
    font-size: 16px;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); 
    cursor: pointer; 
    transition: box-shadow 0.3s ease; 
}

#send_my_wishes_button:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); 
}

#send_my_wishes_button:active{
    background-color: #868d67; 
    /* opacity: 0.85; */
}



/* for all popup windows */
.popup-window {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 200px;
    background-color: white;
    /* border: 0px solid #ccc; */
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
  
.popup-content {
    flex-direction: column;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    height: 90%;
    font-size: 18px;
    text-align: center;
    gap: 12px;
    position: fixed;
    top: 10%;
    right: 25px;
}

#popup-yes{
    color: #ffffff;
    font-weight: lighter;
    background-color: #969E74; 
    border: 0px;
    border-radius: 20px;
    width: 124px;
    height: 32px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); 
    cursor: pointer; 
    transition: box-shadow 0.3s ease;
    position: relative;
    top: 18px;
}

#popup-yes:active{
    background-color: #868d67; 
}

/* #yes_button_div{
} */

#popup-yes:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* change box shadow on hover */
}


#close_button_div {
    width: 300px;
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box; /* Add this line */
    /* border: 1px solid #ccc; */
}

#popup-no {
    width: 24px;
    height: 24px;
    background-color: #ffffff;
    border: 0px;
    border-radius: 50%;
    /* border: 2px solid #a7a7a7; */
}

#popup-no:hover {
    opacity: 0.6;
}

.close-svg {
    height: 21px;
    width: 21px;
    border: 0px solid #444444;
    position: relative;
    right: 5px;
    bottom: 0px;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
  }

/* send buton popup window */
#send_button_div{
    position: relative;
    top: 10%;
}

#popup-send-button{
    background-color: #969E74; 
    color: #ffffff;
    font-weight: lighter;
    border: 0px;
    border-radius: 20px;
    width: 80px;
    height: 32px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); 
    cursor: pointer; 
    transition: box-shadow 0.3s ease;
}

#popup-send-button:hover{
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

#popup-send-button:active{
    background-color: #868d67; 
}
